[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-jwt-extended = "*"
flask-restx = "*"
flask-migrate = "*"
python-decouple = "*"

[dev-packages]

[requires]
python_version = "3.11"
